<p>TBD</p>
{{!-- {{environment-list environments=model.environments
  onPlay=(route-action 'playEnvironment')
  onCreate=(route-action 'createEnvironment')
  onDelete=(route-action 'deleteEnvironment')}}
{{sound-list sounds=model.sounds
  onPlay=(route-action 'play')}} --}}
