form.modal {

  width: 250px;

  p {
    display: flex;
    flex-direction: column;
  }

  p + p {
    margin-top: $spacing-normal;
  }

  label {
    margin-bottom: $spacing-close;

    color: $color-foreground-dim;
    font-size: 1.6rem;
    font-style: oblique;
  }

  input {
    padding: 0 $spacing-close;

    background: none;
    border: none;
    border-bottom: 1px solid $color-foreground-dark;

    font-size: 2.0rem;

    &:focus {
      color: white;
      border-bottom-color: currentColor;
    }
  }

  .actions {
    flex-direction: row;
    justify-content: flex-end;

    * + * {
      margin-left: $spacing-normal;
    }
  }

}
