form.modal {

  p {
    display: flex;
    flex-direction: column;
  }

  p + p {
    margin-top: $spacing-normal;
  }

  label:not(.radio) {
    margin-bottom: $spacing-close;

    color: $color-foreground-dim;
    font-size: 1.6rem;
    font-style: oblique;
  }

  label.radio {
    display: flex;
    align-items: center;
    padding: $spacing-close 0;

    color: $color-foreground-dim;
    cursor: pointer;

    * + * {
      margin-right: $spacing-close;
    }

    a.icon {
      color: $color-foreground-dark;
      .icon { display: none; }
    }

    input {
      display: none;

      &:checked ~ * {
        color: white;

        .icon { display: block; }
      }
    }
  }

  p,
  input {
    padding: 0 $spacing-close;

    font-size: 2.0rem;

    &:focus {
      color: white;
    }
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid $color-foreground-dark;

    &:focus {
      border-bottom-color: currentColor;
    }
  }

}
