{{#x-modal}}
  <form {{action (route-action 'create') on='submit'}} class="modal">
    <p>
      <label for="name">Name</label>
      {{input id='name' value=name}}
    </p>
    <p class="actions">
      <button {{action (transition-to 'atmospheres')}} class="button">Cancel</button>
      <button type="submit" class="button primary">Save</button>
    </p>
  </form>
{{/x-modal}}
