@import 'shared/_palette';
@import 'shared/_resets';
@import 'shared/_typography';
@import 'shared/_icons';

@mixin banner() {

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: relative;

  background-color: $color-primary;

  h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 300;

    em {
      font-style: normal;
      font-weight: 600;
    }
  }

}

@mixin content {

  display: flex;
  flex-grow: 1;

}

@mixin main {

  flex-grow: 1;

  .constrained {
    height: 100%;
    margin: 0 auto;
    max-width: 60.0rem;
    padding: $spacing-comfy;
    overflow: {
      x: hidden;
      y: auto;
    }
  }

}

@mixin sidebar {

  width: 300px;

  background-color: $color-background-dark;
  box-shadow: inset -4px 0 rgba(black, 0.2);

}

  @mixin sidebar-list {

    font-size: 2.0rem;

    a {
      display: block;
      padding: $spacing-comfy;

      &:hover {
        color: white;
      }

      &.active {
        background-color: $color-primary-dim;
        color: white;

        box-shadow: inset -4px 0 rgba(black, 0.2);
      }
    }

  }
