@import 'shared/_palette';
@import 'shared/_resets';

@mixin root() {

  background-color: $color-background-medium;

  color: $color-foreground;
  font-family: $family-normal;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

@mixin banner($color) {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  background-color: $color;

  color: white;
  font-size: 1.6rem;

  h1 {
    font-weight: 300;

    em {
      font-style: normal;
      font-weight: 600;
    }
  }

}
