@import 'shared/_palette';
@import 'shared/_resets';
@import 'shared/_typography';
@import 'shared/_icons';
@import 'shared/_buttons';
@import 'shared/_input';

@mixin banner() {

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: relative;

  background-color: $color-primary;

  -webkit-app-region: drag;
  -webkit-user-select: none;

  h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 300;

    em {
      font-style: normal;
      font-weight: 600;
    }
  }

  nav {

    display: flex;
    align-self: stretch;
    align-items: stretch;
    position: absolute;
    right: $spacing-normal;
    height: 100%;

    font-size: 1.6rem;
    font-weight: 300;

    -webkit-app-region: no-drag;

    a {
      display: flex;
      align-items: center;
      padding: 0 $spacing-normal;

      color: mix(white, $color-primary, 65%);

      &.active {
        background-image: radial-gradient(
          ellipse 50% 1.5rem at 50% 100%,
          rgba(white, 0.15),
          rgba(white, 0)
        );
        box-shadow: inset 0 -1px white;
        color: white;
      }
    }

    a + a {
      margin-left: $spacing-close;
    }

  }

}

@mixin content {

  display: flex;
  flex-grow: 1;

}

@mixin main {

  flex-grow: 1;
  position: relative;

  .constrained {
    height: 100%;
    margin: 0 auto;
    max-width: 60.0rem;
    padding: $spacing-comfy;
    overflow: {
      x: hidden;
      y: auto;
    }
  }

  header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;

    * + * {
      margin-left: $spacing-normal;
    }

  }

  .spacer {
    display: block;
    flex-grow: 1;
    margin-left: 0;
  }

  h1 {
    align-self: stretch;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

@mixin sidebar {

  display: flex;
  flex-direction: column;
  width: 300px;

  background-color: $color-background-dark;

  #sidebar {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: auto;

    box-shadow: inset -4px -4px rgba(black, 0.2);
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(24px + #{$spacing-normal * 2});
    padding: $spacing-normal $spacing-comfy;
  }

  footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: $spacing-comfy;

    background-color: $color-background-dark;
    box-shadow: inset -4px 0 0 rgba(black, 0.2);

    * + * {
      margin-left: $spacing-comfy;
    }
  }

}

  @mixin sidebar-list {

    font-size: 2.0rem;

    a {
      display: block;
      padding: $spacing-comfy;
      padding-right: calc(#{$spacing-comfy * 2} + 24px);

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.de-em {
        font-style: oblique;
      }


    }

    li {
      position: relative;

      &:hover a {
        background-color: $color-background-dim;
        box-shadow: inset -4px 0 rgba(black, 0.2);
        color: white;
      }

      a.active {
        background-color: $color-primary-dim;
        color: white;

        box-shadow: inset -4px 0 rgba(black, 0.2);
      }
    }

    button.icon {
      display: none;
      position: absolute;
      right: $spacing-comfy;
      top: 50%;
      margin-top: -12px;

      opacity: 0.25;

      color: $color-foreground;

      &:hover {
        opacity: 1;
      }
    }

    li:hover button.icon,
    .active + button.icon {
      display: flex;
    }

  }

@mixin modal {

  .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 30;

    background-color: rgba($color-background-medium, 0.8);
  }

  .modal-content {
    padding: $spacing-normal;
    position: absolute;
    top: $spacing-normal * 3;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    z-index: 31;

    background-color: $color-background-light;
    border-radius: 4px;
    box-shadow: 0 4px rgba(black, 0.2);

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      * + * {
        margin-left: $spacing-normal;
      }
    }

  }

}
