$color-primary:     #46672a;
$color-primary-dim: #324224;

@import 'ms-styles/styles';
@import 'pod-styles';

input[type='range'] {

  height: 19px;
  width: 150px;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 9px solid $color-background-medium;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    height: 1px;
    margin-top: 9px;
    padding: 0 6px;

    background: currentColor;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 19px;
    width: 19px;
    margin-top: -9px;

    background-color: $color-background-medium;
    border: 1px solid currentColor;
    border-radius: 100%;
    cursor: -webkit-grab;
  }

  .active &, &.active {
    background-image:
      linear-gradient(to bottom right, transparent 48%, rgba(white, 0.2) 52%);
  }

  aside & {

    border-bottom: 9px solid $color-background-dark;

    &::-webkit-slider-thumb {
      background-color: $color-background-dark;
    }

  }

}

.modal-list {

  margin-bottom: $spacing-normal;

  a {
    display: block;
    padding: $spacing-normal;

    font-size: 1.5rem;

    &:hover {
      background-color: $color-background-bright;
      color: white;
    }
  }

}

a.icon,
button.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  background: none;
  border: 1px solid currentColor;
  border-radius: 100%;

  &.danger {
    border-color: #5c3535;
    color: #b34f4f;
  }
}

.liquid-container,
.liquid-child {
  height: 100%;
  overflow: initial;
}

.liquid-main {
  overflow-y: auto;
  padding: $spacing-comfy 0;
}
