@import '_shared';
@import '_palette';
@import '_layout';

:root {
  @include root;
}

[role='banner'] {
  @include banner($color-primary);
}

.environment-list {
  background: $color-background-light;
  // border-right: 1px solid $color-foreground;
}

.sound-list {
  padding: 0 $spacing-normal;
  background: $color-background-medium;
}

@import 'pod-styles';
