@import '_resets';
@import '_layout';
@import '_palette';

:root {
  color: $color-foreground;
  font-family: sans-serif;
  font-size: 62.5%;
}

.banner {
  padding: $spacing-normal;
  background: $color-background-bright;
  // border-bottom: 1px solid $color-foreground;
}

.environment-list {
  background: $color-background-light;
  // border-right: 1px solid $color-foreground;
}

.sound-list {
  padding: $spacing-normal;
  background: $color-background-medium;
}

@import 'pod-styles';
