& {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

> ul {
  overflow-y: auto;

  &:before {
    content: '';
    position: absolute;
    display: block;
    height: $spacing-normal;
    width: 100%;

    background: linear-gradient(to bottom,
      $color-background-medium,
      transparentize($color-background-medium, 1));
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    height: $spacing-normal;
    width: 100%;
    bottom: 0;

    background: linear-gradient(to top,
      $color-background-medium,
      transparentize($color-background-medium, 1));
  }
}

fieldset {
  flex-shrink: 0;
  margin: $spacing-normal auto;
  max-width: 60.0rem;
  overflow: hidden;
  width: 100%;

  background: $color-background-light;
  border: none;
  border-radius: $spacing-normal;

  &.now-playing {

    margin-top: 0;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: $spacing-normal;
      width: 100%;
      transform: translateY(-100%);

      background: linear-gradient(to top,
        $color-background-medium,
        transparentize($color-background-medium, 1));
    }

  }
}

legend {
  display: block;
  float: left;
  padding: $spacing-close $spacing-normal;
  width: 100%;

  background: $color-background-bright;

  font-size: 1.1rem;
  text-transform: uppercase;

  &.em {
    font-weight: bold;
  }
}

fieldset ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: $spacing-normal;

  font-size: 1.3rem;
  font-weight: lighter;
}

fieldset li {
  margin: $spacing-close 0;
  padding-right: $spacing-normal;
}

.active {
  font-weight: bold;
}
