& {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

fieldset {
  flex-shrink: 0;
  max-width: 60.0rem;
  overflow: hidden;
  width: 100%;

  background: $color-background-light;
  border: none;
  border-radius: $spacing-normal;
}

legend {
  display: block;
  float: left;
  padding: $spacing-close $spacing-normal;
  width: 100%;

  background: $color-background-bright;

  font-size: 1.1rem;
  text-transform: uppercase;

  &.em {
    font-weight: bold;
  }
}

fieldset ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $spacing-normal;

  font-size: 1.3rem;
  font-weight: lighter;
}

fieldset li {
  margin: $spacing-close 0;
}

> ul {
  overflow-y: auto;
  margin-bottom: $spacing-normal;
}

> ul > li + li {
  margin-top: $spacing-normal;
}

.active {
  font-weight: bold;
}
