<h1>Magic Stash: Environments</h1>

<p>Collections</p>
<ul>
  {{#each model.collections as |collection|}}
    <li>{{collection.name}}</li>
  {{/each}}
</ul>

<p>Sounds</p>
<ul>
  {{#each model.sounds as |sound|}}
    <li {{action 'play' sound}}>{{sound.name}} ({{sound.playing}})</li>
  {{/each}}
</ul>
