<header role="banner">
  <h1>Magic Stash: <em>Atmospheres</em></h1>
  {{!-- {{main-controls sounds=model.sounds
    onStopAll=(route-action 'stopAll')}} --}}
</header>
<div class="content">
  {{outlet}}
</div>
