<header role="banner">
  <h1>Magic Stash: <em>Atmospheres</em></h1>
  {{input type='range' min=0 max=1 step=0.01 value=player.masterVolume class='active'}}
  {{!-- {{main-controls sounds=model.sounds
    onStopAll=(route-action 'stopAll')}} --}}
</header>
<div class="content">
  {{outlet}}
</div>
