<h1>Magic Stash: Environments</h1>

{{main-controls sounds=model.sounds
  onStopAll=(route-action 'stopAll')}}

<p>Environments <a href {{action 'createEnvironment'}}>+</a></p>
{{environment-list environments=model.environments
  onPlay=(route-action 'playEnvironment')
  onDelete=(route-action 'deleteEnvironment')}}

<p>Sounds</p>
{{sound-list sounds=model.sounds
  onPlay=(route-action 'play')}}
