<div class="banner">
  <h1>Magic Stash: Environments</h1>
  {{main-controls sounds=model.sounds
    onStopAll=(route-action 'stopAll')}}
</div>
<div class="content">
  {{environment-list environments=model.environments
    onPlay=(route-action 'playEnvironment')
    onCreate=(route-action 'createEnvironment')
    onDelete=(route-action 'deleteEnvironment')}}
  {{sound-list sounds=model.sounds
    onPlay=(route-action 'play')}}
</div>
