{{#ember-wormhole to='sidebar'}}
  <h2>Sounds</h2>
  {{input type='search' value=filter placeholder='Search'}}
  <ul>
    <li>{{#link-to 'sounds.now-playing' class='de-em'}}Now Playing{{/link-to}}</li>
    {{#each sortedCategories as |category|}}
      <li>{{#link-to 'sounds.category' category}}{{category}}{{/link-to}}</li>
    {{/each}}
  </ul>
{{/ember-wormhole}}
{{liquid-outlet enableGrowth=false}}
