<h2>Welcome to Magic Stash: Atmospheres!</h2>
<p>Let’s get started!</p>
<a {{action (action 'openSetupGuide')}} class="button accent">View the <em>Setup Guide</em> to import your sounds</a>
<a href="{{href-to 'sounds'}}" class="button accent">Browse and play <em>Sounds</em> to set the mood</a>
<a href="{{href-to 'atmospheres'}}" class="button accent">Arrange sounds into immersive <em>Atmospheres</em></a>
<p class="de-em">You can access this screen at any time under: <em>Help &rsaquo; Welcome Guide</em></p>
